:root {
    --au-chico: #a45d5d;
    --dark-au-chico: #733f40;
    --koromiko: #ffc068;
    --wild-sand: #f6f6f6;
    --gray: #8e8e8e;
    --scorpion: #575757;
    --dark-scorpion: #464646;
    --overlay: rgba(0, 0, 0, .4);
    background-color: var(--dark-au-chico);
}

* {
    box-sizing: border-box;
}

header {
    background-color: var(--dark-au-chico);
    color: var(--wild-sand);
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--scorpion);
    line-height: 1.5;
    background-color: var(--wild-sand);
    /* margin-bottom: 0; */
}

aside {
    background-color: var(--koromiko);
    color: var(--dark-scorpion);
    margin-top: 4rem;
    padding: 3rem 1rem;
}

aside h2 {
    color: var(--dark-scorpion);
}

footer {
    /* margin: 0 auto; */
    text-align: center;
    margin: 5rem;
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Slab", serif;
}

picture img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

.inline-picture {
    margin-top: 2rem;
    max-width: 50rem;
    display: block;
}

h1,
h2,
h3 {
    line-height: 1.2;
    /* margin: 1em 0 0.5em; */
}

h1 {
    color: var(--dark-scorpion);
    font-size: 3.5rem;
    font-weight: 500;
}

h2 {
    color: var(--scorpion);
    font-size: 2rem;
    padding-top: 2rem;
}

h3 {
    color: var(--dark-au-chico);
    font-size: 1.5rem;
}

a:link {
    color: var(--au-chico);
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: var(--au-chico);
}

a:hover {
    text-decoration: underline;
}

a:active,
a:focus {
    color: var(--dark-au-chico);
}

.dead-link {
    color: var(--scorpion);
}

.dead-link:hover {
    text-decoration: none;
    color: var(--scorpion);
}

main {
    width: 100%;
    background-color: var(--wild-sand);
}

.button:last-child {
    margin-bottom: 10rem;
}

h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    color: var(--wild-sand);
    text-shadow: 0 0 30px rgb(0 0 0 / 70%);
    font-size: 3.5rem;
    width: 100%;
    text-align: center;
    padding: 0 2rem;
    transform: translate(-50%, -50%);
}

article {
    background-color: var(--wild-sand);
    margin: 0 auto;
    max-width: 50rem;
    padding: 0 1rem;
}

.first-article {
    margin-top: 100vh;
}

section {
    margin: 0 auto;
    max-width: 100rem;
    padding: 0 1rem;
}

.button {
    background-color: var(--wild-sand);
    cursor: pointer;
    display: inline-block;
    color: var(--au-chico);
    border: 2px solid var(--au-chico);
    border-radius: 2px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    padding: 1rem 2rem 1.2rem;
    margin-top: 2rem;
    transition: background-color 300ms, color 300ms;
}

.button:hover {
    background-color: var(--au-chico);
    color: var(--wild-sand);
    text-decoration: none;
}

.button:active,
.button:focus {
    background-color: var(--dark-au-chico);
    box-shadow: 0 0 0 2px var(--dark-au-chico);
}

.scroll-down {
    background-color: var(--koromiko);
    padding: 1rem 2rem;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    cursor: pointer;

    font-size: 1rem;
    color: var(--dark-scorpion);
    text-align: center;

    z-index: -1;
}

.scroll-down::before {
    display: inline-block;
    padding-bottom: 0;
    padding-right: 10px;
    content: "▼";
}

.scroll-down::after {
    display: inline-block;
    padding-bottom: 0;
    padding-left: 10px;
    content: "▼";
}

header a:link {
    color: var(--wild-sand);
    font-weight: bold;
    text-decoration: none;
}

header a:visited {
    color: var(--wild-sando);
}

header a:hover {
    text-decoration: underline;
}

header a:active,
header a:focus {
    color: var(--gray);
}

header .dead-link {
    color: var(--gray);
}

header .dead-link:hover {
    text-decoration: none;
    color: var(--gray);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* cards */
.cards {
    display: flex;
    margin-left: 1rem;
    margin: 0 auto;
}

.card {
    float: left;
    margin: 3rem .5rem;
    position: relative;
    display: block;
    max-width: 350px;
    max-height: 350px;
}

.image-wrapper img {
    display: block;
    max-width: 350px;
    object-fit: cover;
}

.card .overlay {
    background-color: var(--overlay);
    opacity: 0;
}

.card .overlay p {
    margin-left: 1rem;
    margin-top: 1em;
    font-size: 3rem;
    line-height: 3rem;
    color: var(--wild-sand);
}

.card:hover .overlay {
    transition: opacity 800ms ease;
    opacity: 1;
}

.card:active,
.card:focus {
    background-color: var(--dark-scorpion);
    box-shadow: 0 0 0 2px var(--dark-scorpion);
}